<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Good neighbor</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navigation">
        <div class="logo">
            <span><a href="/">GoodNeighbor</a></span>
        </div>
        <div class="navigation-links">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/neighbors/">Neighbors</a></li>
                <li><a href="/tasks/">Tasks</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer>
        <div class="company-name">
            <span>GoodNeighbor - 2015</span>
        </div>
    </footer>
</body>
</html>